[2016-04-12 16:49] JeanDiv14 opened #5 "GarminExport Script no longer Working"
Hi Peter

Thanks for this little script.. it has ben a LIFESAVER. Unfortunately in the past few days, it is no longer working. There is a long error message, finishing off with this..

"Exception: failed to fetch activities 0 to 99 types: 403
<html><head><title>JBossWeb/2.0.0.GA - Error report</title><style></style> </head><body><h1>HTTP Status 403 - Access is denied</h1><HR size="1" noshade="nosh

[2016-04-14 20:05] petergardfjall commented on #5
Hi Jean, I'm glad you're finding the script useful and thanks for reporting this issue.

Although I cannot say that I've seen the exact same error you've seen, I discovered that the script had stopped working for me to (however only for downloading .FIT files, all other formats were being backed up properly, when using one or more `-f` or `--format` flags).

The latest commit includes some fixes t

[2016-04-16 12:11] JeanDiv14 commented on #5
Hey there Peter

Apologies for the delay in getting back to you. Again.. thanks for helping to fix this, and the effort for building it in the first place! You rightly point out that I was pulling .fit files - .tcx and .gpx don't have the extra metrics (e.g. run 'ground contact time', etc), so I always pull originals and put them straight into Golden Cheetah.

So I cloned the repository again from

[2016-04-19 18:33] petergardfjall commented on #5
Hey Jean, sorry for the delay again...
Are you still seeing the same problem?

If so, could you perhaps send me the output when running the script like so:
[code]

[2016-04-20 10:55] JeanDiv14 commented on #5
Hey there Peter

I'm assuming that you made some changes to that first edit (?) because I woke up this morning after my crontab ran last night, and my new .fit files are all there! Brilliant!

Massive thanks again.. Issue resolved.

[2016-04-21 08:11] petergardfjall commented on #5
Good to hear Jean!
I'm closing the issue.

[2016-04-21 08:11] #5 closed

[2016-05-08 16:13] JeanDiv14 opened #6 ".Fit format file download error"
Hey Peter

Apologies to bother, but the Script seems to be having issues pulling .fit files again. The last successful download from GC was on 2 May.

This is the error that I got:

_

_

I hope thats useful. Let me know if you need anything else.

Ta,
Jean

[2016-05-09 18:23] petergardfjall commented on #6
Could it be a temporary glitch with the garmin site?
I just tried the script and it backed up my activities (even the .FIT files).
Maybe you could try re-running it?

[2016-05-09 20:48] JeanDiv14 commented on #6
Hey Peter

Yeah, its all fixed now. Apologies for the false alarm. It had not work for a few days. Issue closed :-)

On 09 May 2016, at 8:23 PM, Peter Gardfjäll <notifications@github.com> wrote:

Could it be a temporary glitch with the garmin site?
I just tried the script and it backed up my activities (even the .FIT files).
Maybe you could try re-running it?

—
You are receiving this because you

[2016-08-31 12:36] JeanDiv14 opened #7 "403 Error"
Hey Peter

The script has been working flawlessly since we last spoke (some time now).. thanks for that!

This morning, I have started to get a 403 error though..

_**"HTTP Status 403 - Access is denied......Access to the specified resource (Access is denied) has been forbidden."**_

Did Garmin change something?

I'm trying to pull .fit files, if that helps.

Thanks,
Jean

[2016-09-01 16:26] tymmej commented on #7
https://github.com/kjkjava/garmin-connect-export/issues/18#issuecomment-243859319
But I don't know how to add this in this poroject.

[2016-09-02 17:46] petergardfjall commented on #7
Thanks for reporting and thanks @tymmej for the pointer!
Try out the most recent version of the code. By touching on `https://connect.garmin.com/legacy/session` after validating the authentication ticket, we appear to have been granted access to the API services.

Furthermore, a few the API services that were used previously had been retired and have now been updated.

Give it a shot and report ba

[2016-09-02 17:47] #6 closed

[2016-09-04 04:12] gustavosoares commented on #7
awesome! thank you @petergardfjall for the quick fix. I was having the same 403 issue. Now it is working again.

[2016-09-04 06:26] petergardfjall commented on #7
Thanks!
In that case I consider it fixed. Closing issue...

[2016-09-04 06:26] #7 closed

[2016-09-05 15:01] tymmej commented on #7
After changing gpx URL some gpx files contains points with 0, 0 as latitude and longitude. Activity looks fine on Garmin Connect website.
Is there any parameter in URL to filter them out? I haven't this issue before.

[2016-09-17 09:18] JeanDiv14 opened #8 ".Fit file failure"
Hey Peter

Picking up errors again, output below.

Do Garmin keep changing specifically to stop this kind of access, or is it just 'normal' development that is messing with how your software pulls the files?

Thanks again for the hard work.
Jean

2016-09-17 11:12:14,314 [INFO] backing up formats: fit
2016-09-17 11:12:14,317 [INFO] authenticating user ...
2016-09-17 11:12:16,311 [ERROR] failed with

[2016-09-17 19:29] petergardfjall commented on #8
Right! Seems as though Garmin started escaping slashes with backslashes in the validation ticket URL, which confused the HTTP client library.

Please pull the latest commit and see if that takes care of the problem. It did for me.

[2016-09-18 10:17] JeanDiv14 commented on #8
Hey Peter

Success!

Thanks again..

[2016-09-18 18:20] #8 closed

[2016-10-31 16:39] JeanDiv14 opened #9 "Installing GarminExport in a FreeNAS jail"
Hi Peter

I accidentally nuked my GarminExport jail in FreeNAS the other day, and I'm struggling to get it going again. I was hoping that you could help, and apologies in advance - I'm a bit of a noob when it comes to Virtual Environments, etc.

So following the instructions in the README.MD, all goes well - I install pip, python2.7 and virtualenv. I successfully complete the first pip command (vi

[2016-10-31 18:20] petergardfjall commented on #9
Hej Jean!

Although I'm not familiar with FreeNAS I'll do what I can to help.

It appears to be the case that you cannot source the file
venv.garminexport/bin/activate.
The '.' or "dot command" is a feature of the bash shell (one of the most
common command-line shells in *nix distributions).
It is exactly the same command as 'source', so you could try running

    source venv.garminexport/bin/acti

[2016-10-31 18:30] JeanDiv14 commented on #9
Hey Peter

Thanks for getting back to me.. Speedy turnaround!

So yes, I'm using the csh shell, and the 'source' command worked. I then get caught when I try to run the 'pip install -r requirements.txt' command. Output is:

Collecting requirements.txt
  Could not find a version that satisfies the requirement requirements.txt (from versions: )
No matching distribution found for requirements.txt

Sa

[2016-10-31 18:36] petergardfjall commented on #9
Could it be that you forgot the `-r` switch?

That is, try with `pip install -r requirements.txt`.

I get the same error as you if i run without the `-r` flag.

[2016-10-31 18:48] JeanDiv14 commented on #9
Yes! That was it.. so now Pip installed the requirements in the Virtual Env (I'm trying to stick to the script), and all went well. Furthermore, SUCCESS when running the script in the Virtual Env. Stoked! Thank you.

It does not work from outside the Virtual Environment however. If I want to run the script in a cronjob, would I make a script that says:

source venv.garminexport/bin/activate.csh
./

[2016-10-31 19:01] petergardfjall commented on #9
That sounds just about right. You can skip the deactivate step.

Den 31 okt 2016 19:48 skrev "JeanDiv14" <notifications@github.com>:

[2016-10-31 19:03] petergardfjall commented on #9
If you plan on running it as a cron job you might want to specify absolute
paths.

Den 31 okt 2016 20:01 skrev "Peter Gardfjäll" <
peter.gardfjall.work@gmail.com>:

[2016-10-31 19:04] JeanDiv14 commented on #9
Cool. Thank you, issue closed :-)

[2016-10-31 19:04] #9 closed

[2016-11-03 10:52] benquan opened #10 "Difficulty running for first time"
I am testing garminbackup.py for first time but getting these errors

What I am really interested in is using upload_activity.py to automate the load of a fit file. But I guess I have to make garminbackup.py work first.

Any help would be appreciated!

Test:
(venv.garminexport) Bens-MacBook-Air:garminexport ben$ ./garminbackup.py --backup-dir=activities yyy@gmail.com
2016-11-03 04:33:46,685 [INFO]

[2016-11-03 11:46] benquan opened #11 "upload_activity.py error line 60"
Hi Peter

I am testing upload_activity.py but getting the following error.

Any guides?

$./upload_activity.py yyy@gmail.com ExampleWeights.fit
Enter password:
2016-11-03 05:40:23,699 [INFO] authenticating user ...
2016-11-03 05:40:30,666 [INFO] uploading activity file ExampleWeights.fit ...
2016-11-03 05:40:30,924 [ERROR] failed with exception: failed to upload {} for activity
Traceback (most rec

[2016-11-03 17:44] dlenski commented on #11
Hi @benquan, I actually wrote `upload_activity.py`. I just tried it and it's working fine for me (with a `.tcx` file; I don't have a device that generates `.fit` files).

Garmin Connect recently changed their authentication process in a way that made a lot of external apps, like [tapiriik](https://tapiriik.com/), unable to connect until users go in and reset their passwords. I don't really underst

[2016-11-03 19:27] petergardfjall commented on #10
I'm aware of this issue but I haven't really come to a decision on how to move forward.

It seems like Garmin has shut down the endpoint serving (what I refer to as) "json summary" data about an activity. It used to be served at `https://connect.garmin.com/modern/proxy/activity-service-1.3/json/activity/<id>` (try this while logged in at Garmin Connect with an activity id of yours -- typically a 1

[2016-11-03 19:38] petergardfjall commented on #11
Thanks @dlenski for chipping in! Do you have any further details on those issues (like some filed issue/forum thread or similar)?

I have, myself, had some trouble recently with not being able to export activities to gpx and tcx format (not even from the GC user interface itself).
I wind up with ugly Java stack traces like:
[code]

Anything you've experienced?

[2016-11-03 19:41] petergardfjall commented on #10
@dlenski: do you have opinions/ideas regarding how to move forward on https://github.com/petergardfjall/garminexport/issues/10#issuecomment-258248879

[2016-11-03 20:06] dlenski commented on #10
@petergardfjall, looks like the first endpoint is very similar indeed to the old version and is probably the logical replacement.

Unfortunately, I don't have any saved copies of the old "json summary" handy… are there any differences at all between the two?

[2016-11-03 20:16] dlenski commented on #11
@petergardfjall,
I had issues with Tapiriik similar to [tapiriik #254](https://github.com/cpfair/tapiriik/issues/254) and [tapiriik #255](https://github.com/cpfair/tapiriik/issues/255). These went away after I reset my password as suggested.

I haven't had any problems with `garminexport`, but haven't been using it all that much recently. I just tried exporting an activity to TCX from the GC websi

[2016-11-04 13:19] petergardfjall opened #12 "add retry behavior to activity fetch"
Make a (configurable) number of retries to fetch a given activity file before failing with a (configurable) delay (and exponential back-off?) between successive attempts.

An observation was made that (in this case) `.tcx` downloads sometimes fail, but a few retries later it downloads fine. The Garmin Connect stacktrace in the response on such download failures typically looks something like

[cod

[2016-11-07 18:23] petergardfjall commented on #10
@dlenski: I couldn't find any significant differences.

I replaced the old endpoint `https://connect.garmin.com/modern/proxy/activity-service-1.3/json/activity/<id>` with `https://connect.garmin.com/modern/proxy/activity-service-1.3/json/activity_embed/<activityId>`.

[2016-11-07 18:23] #10 closed

[2016-12-14 05:51] JeanDiv14 opened #13 "unable to extract flowExecutionKey"
Good Morning Peter

I started picking up a fairly lengthly error this morning.. mostly HTML code, but it started off with this:

It then ended after the html with:

  File "/garminexport/./garminbackup.py", line 80, in <module>
    with GarminClient(args.username, args.password) as client:
  File "/garminexport/garminexport/garminclient.py", line 87, in __enter__
    self.connect()
  File "/garmin

[2016-12-14 19:25] petergardfjall commented on #13
Thanks for reporting. Could you try with the latest version.
Commit https://github.com/petergardfjall/garminexport/commit/93d27057dca0e43a38bfc0fc005d00e2b201509e seems to have fixed this on my end.

[2016-12-15 07:58] JeanDiv14 commented on #13
Success!

Again, thank you. This little piece of software makes my life easier on a DAILY basis, and I really appreciate it :-)

[2016-12-15 07:58] #13 closed

[2016-12-15 08:11] petergardfjall commented on #11
@benquan: is this still an issue for you?

[2017-02-06 22:58] brentk7 opened #14 "Garmin Authentication Failure"
Hi Peter,

I have been using your Garmin Export python script for a while (thanks for
a great utility).

When I tried downloading new runs this week I received a login error (see
below). Do you know if this is a general problem - Garmin changed something
again or is it just me having a problem?

Thanks for your help.

Regards,

Brent

C:\Python\garminexport>garminbackup.py --backup-dir=activities

[2017-02-09 18:47] petergardfjall commented on #14
Have you tried the latest version on `master`?
I just did a backup and no problems were encountered.
Could you be experiencing #13 (which is resolved)?

[2017-02-14 09:44] petergardfjall commented on #11
Can neither reproduce nor get feedback from reporter. Closing ...

[2017-02-14 09:44] #11 closed

[2017-02-14 09:44] petergardfjall commented on #14
Can neither reproduce nor get feedback from reporter. Closing ...

[2017-02-14 09:44] #14 closed

[2017-05-11 15:36] pavlinux opened #16 "failed with exception: auth failure: unable to extract flowExecutionKey"
Running virtualenv with interpreter /usr/bin/python2
New python executable in venv.garminexport/bin/python2
Not overwriting existing python script venv.garminexport/bin/python (you must use venv.garminexport/bin/python2)
Installing setuptools, pip...done.
2017-05-11 18:17:50,025 [INFO] backing up formats: fit
2017-05-11 18:17:50,033 [INFO] authenticating user ...
2017-05-11 18:17:50,806 [ERROR] fa

[2017-05-12 02:27] inginero commented on #16
I am observing the same issue as of 5/11/2017

[2017-05-12 18:12] petergardfjall commented on #16
Thanks for reporting. I'm looking into it. Seems like Garmin has (yet again...) changed their authentication process.

[2017-05-12 18:49] dlenski commented on #16
:frowning_face:

Is Garmin doing this to intentionally bork 3rd-party applications, or are they just incompetent?

[2017-05-12 18:52] petergardfjall commented on #16
Good question. In either case, I *think* I'm onto a solution..

[2017-05-13 16:14] pavlinux commented on #16
https://github.com/cpfair/tapiriik/commit/fabd4d4bfed270fa300f68de0a08218d684d1ab5

[2017-05-14 06:56] petergardfjall commented on #16
With the latest commit, things appear to be working again on my end. Would anyone care to try it out before I close the issue?

https://github.com/petergardfjall/garminexport/commit/aaed3f44bba4442227512d1f872656eee73fa949

[2017-05-14 14:53] spawn-github commented on #16
Works for me. Thanks!

[2017-05-14 15:13] inginero commented on #16
Confirmed as working on my end as well.  Thanks for the update, Peter!

[2017-05-14 15:32] #16 closed

[2017-05-14 21:25] dlenski commented on #16
Same here, working for me as well. Thanks, @petergardfjall!

However, login no longer works with my GC username, but only my email address. (Garmin changing random @#$* for no reason, naturally :-1:)

[2017-12-29 22:34] pavlinux opened #18 "The server encountered an internal error () that prevented it from fulfilling this request."
[code]

[2017-12-30 09:29] petergardfjall commented on #18
Could it be a temporary server-side glitch? It worked fine for me a few moments ago.

[2018-01-13 15:49] jhamilt5 opened #19 "[ERROR] Failed With Exception - Server 500 Error on summary_json Download"
**OS:** `Ubuntu 16.04.3 LTS`
**Python Version:** `2.7.12`
**Command Line:** `python garminbackup.py --backup-dir=../activities --format=json_summary <my-email>`
**Output:**

Enter password:
2018-01-13 06:58:18,644 [INFO] authenticating user ...
2018-01-13 06:58:20,542 [INFO] claiming auth ticket ...
2018-01-13 06:58:23,943 [INFO] scanning activities for \<my-email\> ...
2018-01-13 06:58:24,735 [IN

[2018-01-15 01:17] jhamilt5 commented on #19
After some testing, it turns out this is linked to issue #12
This behavior seems to happen around 20% of the time, but it kills the execution of the program. I was able to get around it by adding simple loops to retry on failure. I also made that configurable through `argparse` to choose the maximum number of retries per activity and how long you should sleep between tries. Through testing, 10 ret

[2018-01-28 11:24] tymmej opened #20 "[ERROR] failed with exception: ('Connection aborted.', error(54, 'Connection reset by peer'))"
I cannot download activities:

`./garminbackup.py --log-level=DEBUG --backup-dir=./backup tymmej@gmail.com
2018-01-28 10:40:59,914 [INFO] backing up formats: json_summary, json_details, gpx, tcx, fit
Enter password:
2018-01-28 10:41:07,869 [INFO] authenticating user ...
2018-01-28 10:41:08,782 [DEBUG] got auth response: <!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">

[2018-02-23 20:36] pavlinux commented on #20
2018-02-23 23:34:34,461 [INFO] backing up formats: fit
2018-02-23 23:34:34,471 [INFO] authenticating user ...
2018-02-23 23:34:36,189 [INFO] claiming auth ticket ...
2018-02-23 23:34:43,217 [INFO] scanning activities for dixlor@gmail.com ...
2018-02-23 23:34:48,581 [ERROR] failed with exception: failed to fetch activities 0 to 99 types: 500
<html><head><title>JBossWeb/2.0.0.GA - Error report</titl

[2018-02-23 20:55] pavlinux commented on #18
[code]

[2018-02-23 20:56] pavlinux commented on #18
2018-02-23 23:54:22,035 [DEBUG] fetching activities 0 through 99 ...
2018-02-23 23:54:23,055 [ERROR] failed with exception: failed to fetch activities 0 to 99 types: 500
<html><head><title>JBossWeb/2.0.0.GA - Error report</title><style></style> </head><body><h1>HTTP Status 500 - org.springframework.beans.factory.BeanCreationException: Autowiring of fields/methods failed; nested exception is org.sp

[2018-02-26 13:06] tymmej commented on #19
@jhamilt5 can you share diff or make pull reqest?

[2018-02-26 17:14] petergardfjall commented on #19
Thanks, I already have some code under development for #12. I'll try to
release it on the master branch as soon as I can.

Den 26 feb. 2018 14:06 skrev "Jakub Tymejczyk" <notifications@github.com>:

[2018-02-26 20:37] #12 closed

[2018-02-26 20:38] petergardfjall commented on #20
The latest version uses a configurable number of retries on failed download attempts. Give it a try. The Garmin Connect API appears to have been quite shaky lately.

[2018-02-26 20:38] #20 closed

[2018-02-26 20:39] petergardfjall commented on #19
Try out the latest version. It uses a configurable number of retries (`--max-retries`) with exponential back-off.

[2018-02-26 20:39] #19 closed

[2018-02-26 20:39] #18 closed

[2018-03-27 03:27] spawn-github opened #21 "failed with exception: {list_activities}: gave u p after 8 failed attempt(s)"
Hi,

Sometime between Mar 21st  (last successful workout backed up) and Mar 23rd (first failed workout to back up) and all workouts since, fail to backup. I believe this is because the workouts no longer contain an "activitySummary".

It doesn't appear that I've done anything that would prevent the activitySummary from appearing in the workouts, based on an observation that the 1.1 api still prese

[2018-03-31 19:31] inginero commented on #21
2018-03-31 14:26:19,928 [INFO] claiming auth ticket ...
2018-03-31 14:26:22,086 [INFO] scanning activities for *********...
2018-03-31 14:26:22,086 [INFO] {list_activities}: attempt 1 ...
2018-03-31 14:26:22,086 [DEBUG] fetching activities 0 through 99 ...
...
2018-03-31 14:26:47,006 [INFO] {list_activities}: attempt 5 ...
2018-03-31 14:26:47,006 [DEBUG] fetching activities 0 through 99 ...
2018-0

[2018-03-31 19:42] brentk7 commented on #21
Also seeing this same issue.

[2018-04-01 18:36] petergardfjall commented on #21
I'm looking into it. I think I'm onto something...

[2018-04-02 07:29] petergardfjall commented on #21
Would you trying with the latest commit on `master`?

Appears like the old activity listing endpoint no longer works, so I switched from https://connect.garmin.com/proxy/activity-search-service-1.2/json/activities to https://connect.garmin.com/modern/proxy/activitylist-service/activities/search/activities.

Furthermore, the old activity details json endpoint appears to have stopped working as well

[2018-04-02 11:05] inginero commented on #21
It worked great.  Thank you, Peter.  (Thanks, as well, for the extra notes on what you found.)

[2018-04-02 15:48] #21 closed

[2018-04-03 15:11] pavlinux commented on #21
Hurrah, worked!!!

[2018-04-03 15:11] pavlinux commented on #18
fixed at https://github.com/petergardfjall/garminexport/issues/21

[2018-04-05 09:01] frechina opened #23 "export currently not working"
It seems garmin removed
https://connect.garmin.com/legacy/session

503 Service Unavailable
No server is available to handle this request.

Anyone fixing this?

[2018-08-21 17:27] jedie commented on #23
Very sad :(

[2018-08-21 18:20] dlenski commented on #23
I have no trouble logging in, but then the `activitySummary` endpoint fails. As usual, Garmin has monkeyed with their available API endpoints in various ways.

Also as usual, Tapiriik has updated to make itself work with the latest API endpoints, and cribbing off of its source code would be a good way to get this working again:

https://github.com/cpfair/tapiriik/blob/master/tapiriik/services/Garm

[2018-08-21 18:27] ajaiantilal commented on #23
I did run into this issue in May, but when i updated it to the latest Apr commit the issue went away. This code still seems to be working for me and i can download all my activities

[2018-08-28 14:08] gatosnow opened #26 "parser error"
starttime =  dateutil.parser.parse(summary["activity"]["activitySummary"]["BeginTimestamp"]["value"])

[2018-08-30 17:06] petergardfjall commented on #26
Any more detail you would like to share..?

[2018-08-30 17:57] petergardfjall commented on #23
I believe that this should be fixed with 01a08e1. Apparently attempting to download a .fit file for an activity without a .fit file now results in a `500` response (used to be `404`, which makes a lot more sense).

A lot of different issues seem to be implied by comments in this issue, but I'm unsure of which are actual issues with the code and which are caused by shaky Garmin services. Since I've

[2018-08-30 17:57] #23 closed

[2018-08-30 18:00] petergardfjall commented on #26
I figure that you ran the `get_activity.py` script, right? Please try with the latest commit (ed32d335ad4ccb17c61e957f2b1d1789a1600052). That code hadn't been updated to comply with the latest API changes (I only ever use the `garminbackup.py` script myself).

[2018-08-30 18:00] #26 closed

[2019-01-15 20:15] eduneo818 opened #27 "get_activity_details"
Hi,
I am trying to download my activities but although my account and password are correct it keeps on attempting without success.
Here is the typical output at the prompt;
{get_activity_details}: attempt 5 ...
2019-01-15 21:04:41,181 [INFO] {get_activity_details}: waiting 16 seconds for next attempt
I have waited until attempt 10 without success..

Could it related to my account or it is another

[2019-01-15 20:15] eduneo818 opened #28 "get_activity_details"

[2019-01-15 20:15] #28 closed

[2019-01-31 11:37] tymmej opened #29 "100% CPU usage"
Script uses 100% of one CPU.

By pressing ctrl+c few times traceback always shows something like that:

[code]

CPU is used by `apparent_encoding` which tries to detect encoding of file.
I added one extra `print` to see which encoding is detected: always UTF-8.

Replacing `return chardet.detect(self.content)['encoding']` with return 'UTF-8' reduces CPU usage to <1%.

Is it any solution to this pro

[2019-02-01 06:36] petergardfjall commented on #29
I have no idea. Feel free to investigate. Is the same behavior seen with a more recent version of the requests library?

[2019-04-16 13:54] rados4y opened #31 "auth failure"
I receive "failed with exception: auth failure: unable to extract auth ticket URL. did you provide a correct username/password?" with latest version.

[2019-04-16 15:35] AngelaKru commented on #31
'reponse_url' is definitely missing from the sign in response in Garmin Connect API - worked fine for me last week, today it' missing. Did Garmin make changes in the last few days?

[2019-04-16 16:20] rados4y commented on #31
Seems so, it was working fine so far.

[2019-04-16 17:28] m-soltys commented on #31
It was working fine yesterday and stopped to work today.

The 'Referer' header seems to be required in the authentication request. This line of code is fixing the problem.

[code]
You has to add it to garminclient.py line 114.

[2019-04-16 18:05] petergardfjall commented on #31
Appears like Garmin switched their signin endpoint. The latest commit should fix it: beeb052b

[2019-04-16 18:05] #31 closed

[2019-04-23 19:52] cwygoda commented on #29
I don't see this behavior, but you're on Windows. If I would investigate,  I would benchmark chardet on Windows vs Linux, I have a hunch this may only be slow on Windows.
To avoid requests guessing the encoding, one must set the encoding on the response object before accessing the text attribute: https://github.com/kennethreitz/requests/blob/bedd9284c9646e50c10b3defdf519d4ba479e2c7/requests/models

[2019-05-12 15:32] dukeduck1984 opened #35 "Got a 403 error with list_activities()"
Hi Peter,

I got a 403 error with list_activities(), the error message as below.

Exception: failed to fetch activities 0 to 99 types: 403
{"message":null,"error":"WebApplicationException"}

I copied and pasted the code from GarminClient to Jupyter Notebook, and run from the notebook.  client.connect() worked with no error messageg, but client.list_activities() gave me the 403 error.  The code was

[2019-05-13 02:55] dukeduck1984 commented on #35
Well, I think I figured it out - I live in China, and since 3-4 years ago Garmin China has set up the servers in China to host the service for Chinese users.  However it makes it impossible to sync with almost any other apps as the APIs are different, unless you email them and ask them to move your account back to the international servers.

I just tested one of my friend's account who had it move

[2019-05-13 02:55] #35 closed

[2019-05-13 14:50] pavlinux opened #36 "Non POSIX filenames"
Some dumb/old software don't understand filenames with **+**, **:**, ** **
Add/Create flag for compatible filenames, without spaces, etc.
For ex. as in **Garmin/Activities**: 2019-05-12-15-00-46.fit
instead: 2019-05-12T15:15:42+00:00_1594027597.fit

[2019-08-07 01:31] enydog opened #37 "authentication failure"
2019-08-06 22:29:30,967 [INFO] backing up formats: fit
2019-08-06 22:29:30,967 [INFO] authenticating user ...
2019-08-06 22:29:31,180 [ERROR] failed with exception: authentication failure: did you enter valid credentials?

[2019-08-07 10:08] #37 closed

[2019-08-07 21:25] enydog opened #38 "failed with exception: authentication failure: did you enter valid credentials?"
2019-08-07 18:24:42,542 [INFO] authenticating user ...
2019-08-07 18:24:43,957 [ERROR] failed with exception: authentication failure: did you enter valid credentials?

Is it possible that access has been restricted to once per hour?

[2019-10-10 03:05] datachico opened #39 "Error when trying to run"
I followed the directions in the readme file and everything works until I try to run the program:

(venv.garminexport) Patricks-MBP:garminexport patricknoonan$ ./garminbackup.py --backup-dir=activities <psnoonan@gmail.com>
-bash: syntax error near unexpected token `newline'

Any ideas on how to troubleshoot?

[2019-10-12 12:08] petergardfjall commented on #39
Did you somehow modify the `garminbackup.py` script?
What does `git diff` give you (from the root directory of the project)?

[2019-10-13 16:24] mrantala commented on #39
I've used the code for a few years and I'm also getting an error. I last ran it 31.8.2019 and it worked then. I tried it yesterday & todayand it failed--I suspect Garmin has changed something on their end.

Line 114 of garminclient.py is returning this error for me:

2019-10-13 11:17:41,954 [ERROR] failed with exception: HTTPSConnectionPool(host='sso.garmin.com', port=443): Max retries exceeded wi

[2019-10-19 11:41] mmagnus opened #41 "(if you want) include in readme garmin2calendar"
Works on OSX (because of some hacky code inside)

https://github.com/mmagnus/garmin2calendar

[2019-10-21 08:09] pfunknoondawg commented on #39
@petergardfjall - git diff doesn't show any differences.

[2019-10-26 10:40] petergardfjall commented on #39
@pfunknoondawg could you try running it with `python garminbackup.py --password <pass> <email>`. That is, run it as an argument passed to the `python` executable.

[2019-10-26 10:41] petergardfjall commented on #39
@mrantala Seems like your issue is unrelated to this issue. Looks like it might have been a temporary issue with the Garmin site. I ran everything successfully yesterday. If your problem persists, feel free to open a separate issue!

[2019-10-26 10:42] petergardfjall commented on #38
Maybe, I don't know what rate limits apply on the garmin connect site, but is sounds unlikely. It sounds more likely that you entered the wrong email and/or password. Is this still an issue?

[2019-12-09 23:43] yitang opened #42 "download wellness data"
Hi,

I managed to backup my activities data using this tool. it's easy to use and it does the job. thanks very much. i wonder if I can also use it to download the wellness data?

Thanks,

[2019-12-10 14:23] petergardfjall commented on #42
Hi, at this point the program is only capable of downloading activities.

I haven't looked into wellness data, simply because I haven't felt the need personally to extract that data.

I could see this type of backup tool either complementing the current one (as a separate tool) or perhaps extending the current one.

I assume it would require substantial work (identifying relevant API calls, parsin

[2020-02-29 19:59] petergardfjall commented on #42
Closing this issue for lack of activity.

[2020-02-29 19:59] #42 closed

[2020-02-29 20:00] petergardfjall commented on #41
Sorry, I don't want to endorse software that I haven't used and therefore cannot recommend.

[2020-02-29 20:00] #41 closed

[2020-02-29 20:01] petergardfjall commented on #39
Closing due to lack of activity. Reopen if problem persists.

[2020-02-29 20:01] #39 closed

[2020-02-29 20:01] petergardfjall commented on #38
Closing due to lack of activity.

[2020-02-29 20:01] #38 closed

[2020-02-29 20:01] #27 closed

[2020-02-29 20:01] #29 closed

[2020-03-03 02:16] TomCasavant opened #45 "Authentication Failure"
I haven't used this since the Summer of last year, but it seems I'm getting authentication errors. Which may mean Garmin changed their authentication setup again.
![image](https://user-images.githubusercontent.com/7014115/75736383-0fb72a00-5ccb-11ea-8ac4-c497e61e8a50.png)

[2020-03-05 10:54] datachico commented on #45
It's working for me.  I got the same message initially due to an incorrect password.

[2020-03-07 19:42] TomCasavant commented on #45
Yeah, it was my fault. I didn't have the most updated version. Thanks!

[2020-03-07 19:42] #45 closed

[2020-03-18 09:15] datachico opened #47 "json_summary files from Garmin are inaccurate"
The json_summary files that I downloaded using garminexport show speeds that are much lower than what is displayed on the Garmin website - has anyone else seen this issue:

 "summaryDTO": {

        "averageSpeed": 6.323999881744385,
        "averageMovingSpeed": 6.598639862474733,
        "maxSpeed": 10.468999862670897,

Garmin connect shows: average speed: 23,8, max speed: 37.7

[2020-03-18 09:29] datachico commented on #47
Ok, I just figured this out.  The units are METERS / SECOND (I assumed km/hr).  Facepalm.

https://developer.garmin.com/connect-iq/api-docs/
"averageSpeed ⇒ Toybox::Lang::Float
The average speed during the current activity in meters per second (mps)."

[2020-03-18 09:29] #47 closed

[2020-03-29 03:18] Wave89 opened #50 "Bug in forwarding ignore_errors"
Hey,

I don't have the access rights to fix it, but please add line 26 in garminbackup.py

ignore_errors=args.ignore_errors,

Thank you

[2020-03-29 07:39] khrapovs commented on #50
Thanks for noticing! My bad.

[2020-04-07 12:19] petergardfjall commented on #50
See f0548d2928b4024b0cb170da8439b3bfb4fc6d83

[2020-04-07 12:19] #50 closed

[2020-04-14 11:37] GitGrezly opened #55 "prober hit error at byte X"
Downloaded cloned today the most recent version.
After upgrading i got the following error by downloading TCX files:
`2020-04-14 12:15:33,482 [DEBUG] EUC-JP Japanese prober hit error at byte 3564547
2020-04-14 12:26:41,287 [DEBUG] EUC-KR Korean prober hit error at byte 3564547`

Command i execute is:
`garmin-backup --backup-dir=activities email@em.ail --password PASSWORD --log-level DEBUG -E -f tc

[2020-06-28 10:09] sisyphosloughs opened #56 "Need help for isntalling"
Hi,

I'd like to grab my data from Garmin, but I'm in trouble with python version chaos:

I have installed pyhton3 via homebrew, but the import fails:

[code]
I'm using Catalina (10.15.5 (19F101))

Can you help me?

[2020-06-28 13:14] sisyphosloughs commented on #56
I solved it by myself. Total nightmare. Pip was still on versoin 2.7 (why?). I solved it by googeling around and I tryied at least 15 different things. Nothing worked by its own. I know Python is quite common and extensive, but for users without deveolping skills its a nightmare to handle updates. Thats really sad.
A link for python upgrading and troubleshooting in the readme.md would be nice.

[2020-06-28 13:14] #56 closed

[2020-08-01 08:09] Roaders opened #57 "Activities don't download and a .not_found file is written to output folder"
When trying to run garmin backup I get the following:

[code]

When running with DEBUG log level and max retries of 2 I get a bit more detail:

[code]

Garmin is saying bad request.

It also seems that despite trying and failing to load an activity  I am still getting this:

[code]

Is this me or has garmin changed the service or is there an issue with garmin backup? Thanks

[2020-08-01 08:16] Roaders commented on #57
I installed via pip3 and these are the details:

[code]

[2020-08-01 21:30] pekkaski commented on #57
I think the problem is with Garmin, also when trying a manual export of activity from Garmin Connect (.fit or .tcx), it gives the same error message: 400 Bad request Your browser sent an invalid request.

[2020-08-04 23:12] pavlinux commented on #57
2020-08-05 02:10:47,371 [INFO] {get_activity_fit}: attempt 1 ...
2020-08-05 02:10:47,660 [INFO] {get_activity_fit}: waiting 1 seconds for next attempt
2020-08-05 02:10:48,662 [INFO] {get_activity_fit}: attempt 2 ...
2020-08-05 02:10:49,395 [INFO] {get_activity_fit}: waiting 2 seconds for next attempt
2020-08-05 02:10:51,397 [INFO] {get_activity_fit}: attempt 3 ...
2020-08-05 02:10:51,653 [INFO] {g

[2020-08-05 07:30] bnjmnschwn commented on #57
At least for me the export works again. Also the download directly from garmin connect doesn't raise bad request error anymore.

[2020-08-05 09:00] Roaders commented on #57
yup, working for me now. Thanks

[2020-08-05 09:00] #57 closed

[2020-11-05 09:35] bnjmnschwn opened #61 "fit download doesn't work"
first of all thanks for your great work. it really made my life easier.

I use your program to download fit files from my athletes directly from garmin connect and import them in goldencheetah. since yesterday I am not able to download activities from any of my athletes.
when I try to download e.g. gpx files it works perfectly well. I used DEBUG mode and got hold of the link where the script tries

[2020-11-05 21:52] bnjmnschwn commented on #61
ah, thanks. checked the code but didn't see what was the issue.
changed it in my code and works perfectly well again. thank you!

[2020-11-07 06:58] #61 closed

[2020-11-07 10:39] ilsalgo opened #63 "No .fit file export"
For some reason for 3 days the .fit files are no longer exported.  No problems with others.

[2020-11-07 11:17] petergardfjall commented on #63
Should be fixed in v0.2.0. See https://github.com/petergardfjall/garminexport/pull/62#issuecomment-723402627

[2020-11-16 06:57] #63 closed

[2020-11-16 06:59] ilsalgo opened #64 "no backup since 13/11/2020"
No activity backup since 13/11/2020 for me.
Garminexport see 3 activity to backuped but not download it.

[2020-11-16 14:10] petergardfjall commented on #64
Could you provide more details? Could this be related to https://github.com/petergardfjall/garminexport/issues/63?
Did you try updating to the newest version?

[2020-11-16 15:11] ilsalgo commented on #64
Yes, I have update and it all worked out until yesterday,
Attached terminal screenshot
![garminexport](https://user-images.githubusercontent.com/32997790/99269228-64cda880-2826-11eb-95d9-0e975965dc21.jpg)

[2020-11-17 07:51] algerza opened #65 "How to log in and pull my first data from Garmin?"
First of all, thank you very much for building this library - it has great potential to analyze your personal fitness data on a daily basis with further insights than Garmin provides!

Yet the extraction looks reasonable, I'm a bit lost on how to log in with my credentials. Would you be able to indicate how to log in for the first time and pull the first chunk of data please @petergardfjall ? It w

[2020-11-17 07:59] algerza opened #66 "Can you access detailed data per activity?"
Is there any chance with this library to access all the detailed data per activity too? For example, if I'm running intervals, can I get all the stats per lap? Pace, distance, heart rate, elevation ... Thank you! @petergardfjall

[2020-11-18 04:00] leekirk1975 commented on #66
One additional request. Would it be possible to add body battery and stress detailed data get request ?

[2020-11-18 06:56] petergardfjall commented on #64
I have no trouble backing up with the latest version. Please run with `--log-level DEBUG` and show the output.

[2020-11-18 06:59] petergardfjall commented on #65
Have you tried following these instructions: https://github.com/petergardfjall/garminexport#as-a-command-line-tool-garmin-backup?

- get a working Python installation
- install `garminexport`: `pip install garminexport`
- run garminexport: `garmin-backup --backup-dir=<directory-of-your-choice> <username or email>`. you will be prompted for your password. If you want to supply the password directly

[2020-11-18 06:59] #65 closed

[2020-11-18 07:00] petergardfjall commented on #66
Yes, intervals, laps etc can be found in the `.tcx` file. Go explore!

[2020-11-18 07:02] petergardfjall commented on #66
I have no plans on adding anything besides raw data extraction.
I believe that any derived statistics or data processing belongs in a complementary library (which _could_ use `garminexport` to fetch activities).

[2020-11-18 07:02] #66 closed

[2020-11-18 07:40] ilsalgo commented on #64
I assume that there's a problem in tcx file... possible to skip?
![screen](https://user-images.githubusercontent.com/32997790/99499823-c18da800-2979-11eb-8c91-d89d001f6b0a.jpg)

[2020-11-18 08:11] petergardfjall commented on #64
Looks like a server-side error for that particular activity. You can try with `--ignore-errors`.

[2020-11-18 08:13] petergardfjall commented on #64
Can you export the tcx file via the web (that is when visiting the activity at https://connect.garmin.com)?

[2020-11-18 08:22] ilsalgo commented on #64
I hadn't done the test from Garmin Connect and it doesn't work from there either, it returns the same error.
sorry for inconvenience.

[2020-11-18 11:53] petergardfjall commented on #64
No problem. It would be interesting to know what the problem is with your activity. How did you upload it to Garmin?

[2020-11-18 12:48] ilsalgo commented on #64
Apparently the starting point of a lap is missing from the file, if you export the activity as .fit or .gpx there are no problems, instead in the .tcx format it finds this inconvenience and generates the error.

I tried to edit the activity manually but can't resolve

[2020-11-18 18:15] petergardfjall commented on #64
Ok, I think that there's not much to do about this on the client side so I'll close the issue.

[2020-11-18 18:15] #64 closed

[2020-11-24 07:15] algerza opened #67 "Age, Weight, VO2 fields request"
Hi @petergardfjall ! Amazing work, the backup works very well. Is there any change to get Age, Weight VO2 after each activity too? Thank you!

[2020-11-26 18:37] darkzbaron opened #68 "Health data"
Hi there, thanks for the amazing work! How about getting health data such as stress level, body battery etc

[2020-11-28 04:40] petergardfjall commented on #67
I have no such plans at this time, sorry. I'd like to keep the library focused on activities. I suppose you could use the client from this library to write such a tool if you feel up for it.

[2020-11-28 04:43] petergardfjall commented on #68
Sorry, no such plans at this time. You could perhaps use the client from this library to extract that if you have the time and energy.

[2020-11-28 06:42] darkzbaron commented on #68
Hi , thanks I will. Thanks for making it so easy to re-use.

[2020-11-28 06:42] #68 closed

[2020-11-30 19:56] #67 closed

[2020-11-30 19:57] algerza commented on #67
Ok thanks and keep up the good work!

[2021-02-24 09:23] lee-staples opened #71 "Failing to obtain activities list"
Fails to obtain the list of activities from Garmin Connect.

Log level output of DEBUG

[code]

[2021-02-24 09:29] kfollesdal commented on #71
@lee-staples have the program worked for you before? Can you login to Garmin Connect with the credentials you are using?

[2021-02-24 09:50] hab commented on #71
The same happens in my setup which have been working for months

[2021-02-24 10:29] lee-staples commented on #71
Have been using weekly for months with the same command line.

**garmin-backup --backup .garmin-connect-export/fit -f fit **

No problems with garmin connect webpage or garmin connect app on phone.

Also tried garpy exactly the same issue with https://github.com/felipeam86/garpy

[2021-02-24 14:50] fredyr commented on #71
I have also gotten the same problems as described. It seems to be some kind of update that Garmin has done. I found this forum thread describing similar problems for other 3rd party integration (garmin-uploader):

https://forums.garmin.com/apps-software/mobile-apps-web/f/garmin-connect-web/255422/connect-api-authentication-problems

[2021-02-24 15:24] petergardfjall commented on #71
Thanks for supplying details. I'll try to have a look at it tonight.

[2021-02-24 17:47] kfollesdal commented on #71
Hi, I have tested and can confirm that by removing modern in url in  function `_fetch_activity_ids_and_ts` listing activities again work. Seems like other url also have to have this change. Wil will test more and make a PR tomorrow.

I found the solutions by googling "garmin 402" since we get a 402 error. And found the tips https://github.com/cyberjunky/python-garminconnect/issues/40#issuecomment-

[2021-02-24 21:21] enydog commented on #71
BASE_URL = 'https://connect.garmin.com'
SSO_URL = 'https://sso.garmin.com/sso'
MODERN_URL = 'https://connect.garmin.com'
#MODERN_URL = 'https://connect.garmin.com/modern'
SIGNIN_URL = 'https://sso.garmin.com/sso/signin'

[2021-02-25 03:16] Taxuspt commented on #71
I'm facing the same problem. Is someone working on a PR?

[2021-02-25 05:35] petergardfjall commented on #71
I am. Think I'm fairly close. I would expect a fix today.

[2021-02-25 06:51] petergardfjall commented on #71
I think this should take care of it https://github.com/petergardfjall/garminexport/pull/72
Would be nice if anyone else could also verify the fix (branch `fix-402-response`) before I merge to `master` and release to PyPi.

[2021-02-25 08:19] lee-staples commented on #71
Thanks @petergardfjall .

Installed and works for my use

[code]
2021-02-25 08:16:04,557 [INFO] backing up formats: fit
2021-02-25 08:16:04,557 [INFO] authenticating user ...
2021-02-25 08:16:04,557 [INFO] fetching CSRF token ...
2021-02-25 08:16:05,476 [INFO] claiming auth ticket ...
2021-02-25 08:16:07,937 [INFO] scanning activities for <username> ...
2021-02-25 08:16:07,937 [INFO] {list_activit

[2021-02-25 08:24] petergardfjall commented on #71
Thanks for trying it out @lee-staples. I'll give @kfollesdal a chance to try it out as well and if everything looks green I think it's good to go!

[2021-02-25 10:12] kfollesdal commented on #71
@petergardfjall have now tested and #72 solves the problem :-)

[2021-02-25 10:25] petergardfjall commented on #71
A new release `0.3.0` is available on PyPi.

[2021-02-25 10:25] #71 closed

[2021-02-26 11:21] petergardfjall commented on #55
I will close this for lack of activity and difficulty of reproducing.

[2021-02-26 11:21] #55 closed

[2021-02-26 11:23] petergardfjall commented on #36
Closing for lack of activity.

[2021-02-26 11:23] #36 closed

[2021-05-07 13:34] peemot opened #76 "authentication failure"
The script stopped working a day or two ago.

[2021-05-07 14:05] zxxxh commented on #76
Confirmed - I have receive the same message. Debug shows additional messages:

[2021-05-07 15:11] random1781 commented on #76
Garmin seems to be blocking requests based on the provided User-Agent. I now get an authentication failure error with the following debug message:

[code]

If I add a defined User-Agent of a browser to the request, the authentication succeeds and my activities are downloaded as expected.

I'm not sure if this is a temporary or long-term problem, but I added fake-useragent to generate a User-Agent

[2021-05-07 17:50] zxxxh commented on #76
Garmin has a history of making changes that break third-party client access. This is indeed a user-agent issue, and changing the user-agent string bypasses the issue. Perhaps dev could incorporate fake-useragent to solve this moving forward.

[2021-05-07 20:11] pavlinux commented on #76
[code]

[2021-05-08 09:58] pavlinux commented on #76
[code]

Put file user-agents.txt into call script directory, for ex. this https://gist.github.com/pzb/b4b6f57144aea7827ae4

[2021-05-08 10:45] micky-gee commented on #76
The solution in this pull request https://github.com/petergardfjall/garminexport/pull/77/files works really well.

Nice fake useragent.

[2021-05-09 06:14] petergardfjall commented on #76
I've addressed this issue in https://github.com/petergardfjall/garminexport/commit/33b83548675823f8f872a491363dffc9ba091992.

It allows a custom `User-Agent` to be supplied. Either via command-line.
[code]

If you prefer to rotate user agent, use a tool such as `user_agent`:
[code]
For library clients, one can pass a `user_agent_fn` function that, when called, produces a
`User-Agent` string to be

[2021-05-09 06:14] #76 closed

[2021-05-09 06:22] petergardfjall commented on #76
Released `0.4.0` on pypi.org

[2021-05-09 10:27] pavlinux commented on #76
Too fat )))

[2021-05-09 10:51] pavlinux commented on #76
How this work from bash/sh ?

[2021-05-09 11:47] petergardfjall commented on #76
@pavlinux how do you mean? That is bash syntax.

[2021-05-09 14:17] micky-gee commented on #76
The problem is, that without even additional command line flags, it won't work.  I think a better philosophy to be: command line tool should work with as little flags as possible, the bare minimum being credentials.

So without adding this:
`garmin-backup --user-agent=$(ua)`

It fails.

The other point to think about: this tool has gained sufficient popularity for Garmin to block it.  Which means

[2021-05-09 14:55] micky-gee commented on #76
Sorry, I made my point poorly.

Read as: without the additional command line flags it likely _won't continue to work_.

How long before Garmin blocks _that_ default user agent?  Remember, again, Garmin saw enough requests from this tool to block it; this is whack-a-mole territory.

[2021-05-09 19:29] petergardfjall commented on #76
Point taken. Although the idea is flattering in some sense, I mean this tool having gained enough popularity for Garmin to _actively_ try to block it, I'm not sure about that conclusion (maybe I'm too naive).

Garmin is definitely working on tightening up their API access to try and filter out uninvited guests like this one (I don't know how many times I've rewritten the authentication code to go

[2021-05-09 21:26] random1781 commented on #76
I agree with this. I think this error is actually a function of Cloudflare's filtering and is probably a common sense thing to enable. I would like to think that they're more focused on stopping another multi-million dollar ransom payout than a tool like this.

I script my syncs, so adding a stand-alone UA generator is simple.

[2021-05-11 00:00] pavlinux commented on #76
Sorry? i don't know that ua it's a utility from $PATH

[2021-05-17 17:17] pavlinux commented on #76
2021-05-17 20:16:07,948 [ERROR] failed with exception: authentication failure: did you enter valid credentials?

[2021-05-17 17:17] pavlinux opened #79 "authentication failure:"
$ garmin-backup --user-agent="$(ua)" -f "$FORMAT" --password "$PASS" --backup-dir="$FITS" "$LOGIN"

2021-05-17 20:21:44,356 [INFO] backing up formats: fit
2021-05-17 20:21:44,356 [INFO] authenticating user ...
2021-05-17 20:21:44,356 [INFO] fetching CSRF token ...
2021-05-17 20:21:45,341 [ERROR] failed with exception: authentication failure: did you enter valid credentials?

[2021-05-17 18:57] atomical commented on #79
I'm seeing this too.

[2021-05-17 18:59] cabby26 commented on #79
me too

[2021-05-17 19:20] enydog commented on #79
https://sso.garmin.com/sso/signin problem.

[2021-05-17 23:51] pavlinux commented on #79
https://sso.garmin.com/sso/login?service=https://connect.garmin.com/modern/&webhost=https://connect.garmin.com&gateway=true&generateExtraServiceTicket=true&generateTwoExtraServiceTickets=true

No problem

[2021-05-18 00:51] Jetsukda commented on #79
Where do I need to fix it?

[2021-05-18 11:05] enydog commented on #79
SSO with cloudflare security.
Server=cloudflare
x-frame-options=deny
CF-Cache-Status=DYNAMIC
cf-request-id=0a20b5d687000074ef948d3000000001
Expect-CT=max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
CF-RAY=65148c040efd74ef-EZE

[2021-05-18 14:59] babbeuf commented on #79
Are there any ways around this issue? It looks like cloudflare / Garmin are identifying automated login attempts and returning a 403 error. I've played around with different ways of making the POST request to the login url, without any luck.

[2021-05-18 15:15] babbeuf commented on #79
BTW, rendering the response to the POST request in a browser results in the following Garmin-branded webpage:
![Garmin 403 Error](https://user-images.githubusercontent.com/32065946/118677449-e1374900-b7c1-11eb-918c-cf179046161b.png)

[2021-05-18 16:59] babbeuf commented on #79
One last comment. It looks like another similar project has substituted the cloudscraper package for requests, which is working for me. Looking at the documentation for cloudscraper (https://github.com/VeNoMouS/cloudscraper), it is a package designed to bypass Cloudflare's anti-bot page.

Should be an easy fix to add cloudscraper and substitute any references to requests for that package.

[2021-05-18 19:09] micky-gee commented on #76
Looks like its been blocked again… failing out on all number of UAs.

[2021-05-18 20:02] zxxxh commented on #76
It looks like they did get to that point.

I wish Garmin's engineers would work on improving their products instead of preventing customers from backing up their own data.

I'm curious what the fix will end up being. Currently, I cannot authenticate with any UA, including the 'valid' one my browser supplies.

[2021-05-18 20:38] felipeam86 commented on #79
I can confirm this. I have just fixed my garmin scrapping library with cloudscraper. See [this commit](https://github.com/felipeam86/garpy/commit/8409ff596f93a9ab111ee1e74dd271692660781e)

By the way, thanks for your work @petergardfjall! I had made my own library based on yours a long time a go. I'm happy to see how `garminexport` has evolved since!

[2021-05-19 00:39] pavlinux commented on #79
a-la @felipeam86 style ))

[code]

[2021-05-19 00:41] pavlinux commented on #76
https://github.com/petergardfjall/garminexport/issues/79#issuecomment-843658546

[2021-05-19 05:09] micky-gee commented on #79
Great; this cloudscraper fix works.

[2021-05-21 15:05] jacobhell commented on #79
Thanks @pavlinux , I created #80 based on your changes.

[2021-05-23 17:07] pavlinux commented on #79
Аgain [ERROR] failed with exception: authentication failure: did you enter valid credentials?

[2021-05-23 17:16] pavlinux commented on #79
Huh, funny, after I enter to  my profile via https://connect.garmin.com/ they work again :)

![aaa](https://user-images.githubusercontent.com/1057453/119270083-aee37c80-bc03-11eb-9d00-bc6bcdccc7be.png)

[2021-05-23 18:57] jacobhell commented on #79
@pavlinux it is still working for me

[code]

[2021-06-06 06:56] oiramkawon commented on #79
I have the authentication error too at the moment...

[2021-06-12 08:12] leekirk1975 opened #83 "authentication failure"
This is a great library I use all the time.

After I added the user agent, everything seemed to be running fine. I had not run this for a few weeks but now I seem to be getting an authentication error again.

    raise ValueError("authentication failure: did you enter valid credentials?")
ValueError: authentication failure: did you enter valid credentials?

After a couple of hours of debugging, I

[2021-06-12 14:44] oozz-software commented on #83
**LOG LEVEL DEBUG**
        <p class="app__subheading">Something went wrong, and our site is temporarily unavailable.<br />We’re already working to get things back on course.</h2>

        <div class="app__error__details">
          <div class="cf-error-details cf-error-1020">
  <h1>Access denied</h1>
  <p>This website is using a security service to protect itself from online attacks.</p>
  <ul cl

[2021-06-15 13:44] paolos7709 commented on #83
I confirm exactly the same issue as you're describing...

[2021-06-15 14:01] zxxxh commented on #83
`XXXXXXXXXX@XXXXXXXXXX garmin-backup % garmin-backup XXXXXXXXXX@XXXXXXXXXX --password='XXXXXXXXXX' --backup-dir ~/XXXXXXXXXX --max-retries=1 --user-agent="`ua`"
2021-06-15 09:54:08,968 [INFO] backing up formats: json_summary, json_details, gpx, tcx, fit
2021-06-15 09:54:08,983 [INFO] authenticating user ...
2021-06-15 09:54:08,983 [INFO] fetching CSRF token ...
2021-06-15 09:54:10,068 [INFO] claim

[2021-07-23 07:37] peemot commented on #79
I too have this authentication error.
Strange thing is.. it worked yesterday. I downloaded about 100 workouts. But few hours later it did not let me in anymore.
Is there some kind of cloudflare banning system or something?
Is there a simple way to get a more detailed error log?

Anyway.. i tried some cloudscraper parameters and once again i got in (maybe temporarily). At the moment this change wor

[2021-07-23 16:58] bobgott commented on #79
@peemot , I too was having problems getting in yesterday and today.  I added the cloudscraper parameters as you have above and now it works (of course, who knows for how long).

thank you.

[2021-07-30 07:03] petergardfjall commented on #79
Sorry for not responding earlier to this. I managed to download all my activities just now on `0.4.0` (that is without `cloudscraper` or any code modifications). Maybe Garmin chose to disable their CloudFlare bot protection scheme? Would anyone else care to try out `0.4.0`?

[2021-07-30 07:07] petergardfjall commented on #83
Sorry for the late response. I just tried a backup of my account with `0.4.0` and it worked without issues. Maybe Garmin has chosen to deactivate the CloudFlare bot protection?

[2021-07-30 11:11] davosian commented on #79
@petergardfjall I just tried again with the following steps, but I am still having the same issue (out of Switzerland):

[code]

[2021-07-30 15:43] petergardfjall commented on #79
Thanks @davosian. And you're _sure_ you are using the right credentials? ;-)
Strangely enough I cannot reproduce the error. I've tried running it several times and I'm not having login issues. :confused:

Could you please try `garmin-backup --password=<secret> --log-level=DEBUG <mail>` to get some more details?

[2021-07-30 21:03] davosian commented on #79
A actually copied the password from my password manager, but just in case I have now changed it to be simpler without special characters to make sure this is not tripping things up. Here is the debugging output I get even with the simplified password entered directly on the command line:

[code]

I have not tried any of the suggested fixes (mainly because I do not understand how to apply them), bu

[2021-07-30 21:18] davosian commented on #79
Update: I got it to work using cloudscraper:

I installed the library with `pip install cloudscraper`. Then I manually applied the patch from @pavlinux: https://github.com/petergardfjall/garminexport/issues/79#issuecomment-843658546

[2021-07-31 12:22] davosian commented on #79
Looks I am experiencing exactly the same as others in this thread: this morning, the fix I used was still working fine, this afternoon, I ran into the same problem again. After applying the following modification from https://github.com/petergardfjall/garminexport/issues/79#issuecomment-885457637, I am back in business:

[code]

[2021-08-01 11:00] andreloeffelmann commented on #79
Had the same authentication issues. But I can confirm that the fix from #79 including the `browser` specification object is working. Just tried it out from germany.

[2021-08-01 16:04] davosian commented on #79
May I ask why this got closed? The proposed solution did not get merged, right?

[2021-08-01 17:18] pavlinux commented on #79
[code]

[2021-08-01 17:32] micky-gee commented on #79
@pavlinux,

You've got a bunch of folks submitting good PRs that solve these problems, but you'd rather make users run this "n-times" expecting "n-1" failures in a hacked bash script.

I don't get it.  Can you help me understand?

[2021-08-05 03:42] chrishkirk commented on #83
I am also on `0.4.0` and I am still receiving the authentication failure message.

Enter password:
2021-08-04 23:35:18,390 [INFO] authenticating user ...
2021-08-04 23:35:18,390 [INFO] fetching CSRF token ...
2021-08-04 23:35:18,799 [ERROR] failed with exception: authentication failure: did you enter valid credentials?

[2021-08-10 13:51] elteto commented on #83
same problem here, i tried to autenticate with my gmail account and with my user and get the same error.

[2021-08-14 08:16] petergardfjall commented on #83
For me, authentication still works with `0.4.0`.

I'd like to better understand the reasons for failure. Do people that experience these failures run the backup script too often (getting a temporary CloudFlare ban)?

Several people seem to have used https://github.com/petergardfjall/garminexport/pull/80 with some success, although it's unclear to me if that's a foolproof solution or if it is a hit

[2021-08-14 08:18] petergardfjall commented on #79
@pavlinux you initially proposed the use of `cloudscraper` if I remember correctly (later a PR was submitted: https://github.com/petergardfjall/garminexport/pull/80). Did you experience issues with that fix (some comments seem to indicate that that fix can be a little "hit-and-miss prone")? What lead you to go back to retries like in https://github.com/petergardfjall/garminexport/issues/79#issueco

[2021-08-14 08:26] mrw34 commented on #83
For me:
* I only run the script occasionally and authentication always fails
* #80 doesn't immediately solve the problem - but I didn't configure any captcha solvers
* I am on a 4G connection and occasionally see Cloudflare's bot protection page during normal web browsing
* If I instead run the script on a cloud VM with a fixed IP address then authentication never fails

I'd assume from this that

[2021-09-26 19:02] J4cker14 commented on #83
Auth problem as well

`
2021-09-26 20:39:30,776 [INFO] authenticating user ...
2021-09-26 20:39:30,776 [INFO] fetching CSRF token ...
2021-09-26 20:39:31,130 [ERROR] failed with exception: authentication failure: did you enter valid credentials?
`

[2021-10-31 14:41] atomical commented on #79
Any updates?

[2021-11-01 11:50] petergardfjall commented on #79
I still cannot reproduce the issue locally. Downloads/backups work as expected.

[2021-11-25 09:58] pavlinux commented on #79
The error occurs if you do not go to the connect.garmin.com site for a long time (~ 3+ days) or through Garmin Express.

Now I have such a diff:

[code]

[2021-12-19 14:48] nestore opened #84 "authentication failure ( same problem )"
I have an authentication failure  using right credentials. the behavior is the same already described in the other two issue like this one
the response from garmin is

We’re sorry.

Something went wrong, and our site is temporarily unavailable.
We’re already working to get things back on course.
Access denied

This website is using a security service to protect itself from online attacks.

    Ray

[2022-01-11 19:46] plandes commented on #79
The diff @pavlinux contributed fixed the (reoccurring) issue for me.  Would be great if the authors could fold it in as I have switched to using this project as a dependency giving up trying to maintain these issues myself.  Ideally, all such programs that programmatically talk to Garmin connect would centralize around one very basic library (much like this).

[2022-01-19 13:24] Likenttt opened #86 "403 Forbidden & Cloudfare 1020"
Hello, recently I ported this lib to js based on another existed js lib. However I got stuck in login. Here is my repo: https://github.com/Likenttt/garmin-connect-api-js

I use axios to request the garmin sites and cookiejar to maintain credentials between requests. But I always get 403 and 1020.

When logining, I do the processes below.

1. Get sso.garmin.com/sso/login as a html text
2. Use a reg

[2022-03-18 16:39] petergardfjall commented on #84
Probably due to Cloudflare's anti-bot protection which appears to impact only some users.

The most recent version of `garminexport` (`0.4.1`) can be installed with support for circumventing Cloudflare's bot challenges like so:

[code]

[2022-03-18 16:39] #84 closed

[2022-03-18 16:39] petergardfjall commented on #83
The most recent version of `garminexport` (`0.4.1`) can optionally be installed with support for circumventing Cloudflare's bot challenges like so:

[code]

[2022-03-18 16:39] #83 closed

[2022-03-18 16:40] petergardfjall commented on #79
The most recent version of `garminexport` (`0.4.1`) can optionally be installed with support for circumventing Cloudflare's bot challenges like so:

[code]

[2022-03-18 16:40] #79 closed

[2022-03-21 01:16] plandes commented on #79
@petergardfjall

I wish I could tell you.  I'm still moving things around to get it to work more consistently.  It isn't determinist in the least and sometimes it works on the first try.  Other times, I have to even stop the process and restart it a few times.

I did try  `garminexport[cloudflare]` and it fails just as often, so I'd need to test more with it.

[2022-04-19 07:24] ilsalgo opened #87 "Problem with authentication"
Hi, the plug-in doesn't work again, i guess it depends on Garmin who introduced two factor authentication, in fact when i try to backup i get an authentication error and immediately also the sms with the verification code.

[2022-05-15 20:03] mmagnus commented on #87
OK, so it's not only me, I have the same problem.

[2022-06-24 18:13] rickbhs commented on #87
i have the same problem

[2022-07-17 18:49] lakemike commented on #87
same for me

[2022-08-25 20:27] jensbusch commented on #87
Anyone any solution here? I got the same issue

[2022-10-04 14:26] 62north commented on #87
For me auth only works if session_factory is set to cloudscraper.create_scraper and this is only used if cloudscraper is installed (otherwise it defaults to requests.session). Thus I had to pip3 install cloudscraper first.

[2022-10-05 12:06] rickbhs commented on #87
that worked also for me

[2022-10-05 13:19] ilsalgo commented on #87
not work for me

[2022-10-05 14:05] ilsalgo commented on #87
no, the problem is the two factor authentication. When I try to connect to my accont, Garmin send a passcode via sms for second authorization (this is necessary for use some services). In this case, I receive the sms but is not possible use the code in Garmin Export.